<div>
  <link href="./contact-comp.css" rel="stylesheet" />
  <div class="contact-comp-hero">
    <div class="contact-comp-header">
      <h1 class="contact-comp-text">
        <span>Daj o sobie znać! Odpowiem na wszystkie Twoje pytania.</span>
      </h1>
    </div>
    <div class="tabelatekstowa-container tabelatekstowa-root-class-name1">
      <div class="tabelatekstowa-container1">
        <input
          type="text"
          placeholder="twój e-mail"
          class="tabelatekstowa-input input"
        />
      </div>
      <div class="tabelatekstowa-container2">
        <input
          type="text"
          placeholder="treść wiadomości"
          class="tabelatekstowa-wiadomo input"
        />
      </div>
      <div class="tabelatekstowa-container3">
        <a
          href="skontaktuj-sie.html"
          class="tabelatekstowa-work-with-us button"
        >
          <span class="tabelatekstowa-text"><span>wyślij wiadomość</span></span>
          <img
            alt="image"
            src="public/hamburger.svg"
            class="tabelatekstowa-image"
          />
        </a>
      </div>
    </div>
  </div>
</div>
