<div>
  <script
    type="text/javascript"
    src="https://unpkg.com/@lottiefiles/lottie-player@1.6.0/dist/lottie-player.js"
  ></script>
  <link href="./grafika--omp.css" rel="stylesheet" />
  <div class="grafika--omp-hero">
    <div class="grafika--omp-header">
      <h1 class="grafika--omp-text">
        <span>
          Tworzę grafiki które trafiają do tysięcy odbiorców. Postrzegam
          kreatywność jako metodę na spostrzeżenie emocji i wrażeń.
        </span>
      </h1>
    </div>
    <div class="grafika--omp-hero-image">
      <img
        alt="image"
        src="public/computer.svg"
        loading="eager"
        class="grafika--omp-image"
      />
      <lottie-player
        src="https://assets4.lottiefiles.com/packages/lf20_upd3a3w7.json"
        loop
        speed="1"
        autoplay
        background="transparent"
        class="grafika--omp-lottie-node"
      ></lottie-player>
    </div>
  </div>
</div>
