<div>
  <link href="./kalkulator.css" rel="stylesheet" />
  <div class="kalkulator-container">
    <div class="kalkulator-container1">
      <div class="kalkulator-container2">
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
          rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        />
        <title>Service Calculator</title>
        <style>
          .form-control {
              border: 1px solid black;
              border-radius: 0;
              background-color: white;
          }
        </style>

        <div class="container">
          <h1 class="mt-4">Kalkulator</h1>

          <div class="form-group">
            <label for="graphicHours">Usługi Graficzne (80 PLN/H):</label>
            <input
              type="number"
              class="form-control"
              id="graphicHours"
              min="0"
              step="1"
            />
          </div>

          <div class="form-group">
            <label for="audioHours">Usługi Audio (100 PLN/H):</label>
            <input
              type="number"
              class="form-control"
              id="audioHours"
              min="0"
              step="1"
            />
          </div>

          <div class="form-group">
            <label for="totalCost">Sumaryczny koszt (PLN):</label>
            <input type="text" class="form-control" id="totalCost" readonly />
          </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script>
          $(document).ready(function() {
              var graphicInput = document.getElementById('graphicHours');
              var audioInput = document.getElementById('audioHours');
              var totalCostInput = document.getElementById('totalCost');

              function calculateTotalCost() {
                  var graphicHours = parseInt(graphicInput.value);
                  var audioHours = parseInt(audioInput.value);
                  var graphicRate = 80; // PLN per hour for graphic services
                  var audioRate = 100; // PLN per hour for audio services
                  var graphicCost = graphicHours * graphicRate;
                  var audioCost = audioHours * audioRate;
                  var totalCost = graphicCost + audioCost;
                  totalCostInput.value = totalCost;
              }

              // Call calculateTotalCost function when the input values change
              graphicInput.addEventListener('input', calculateTotalCost);
              audioInput.addEventListener('input', calculateTotalCost);
          });
        </script>
      </div>
    </div>
  </div>
</div>
