.main-comp-hero {
  gap: 120px;
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-top: 140px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: 160px;
}
.main-comp-header {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.main-comp-heading {
  color: rgb(39, 39, 45);
  width: 100%;
  font-size: 54px;
  max-width: 1000px;
  align-self: center;
  font-style: normal;
  font-weight: 400;
}
.main-comp-hero-image {
  width: 100%;
  display: flex;
  align-items: flex-end;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: 180px;
  padding-right: 180px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: center;
  background-color: #ddff75;
}
.main-comp-lottie-node {
  width: 772px;
  height: 364px;
  align-self: center;
}
@media(max-width: 991px) {
  .main-comp-hero {
    gap: var(--dl-space-space-fourunits);
    padding-top: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .main-comp-heading {
    font-size: 32px;
  }
  .main-comp-hero-image {
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-unit);
  }
}
