<div>
  <script
    type="text/javascript"
    src="https://unpkg.com/@lottiefiles/lottie-player@1.6.0/dist/lottie-player.js"
  ></script>
  <link href="./muzyka-comp.css" rel="stylesheet" />
  <div class="muzyka-comp-hero">
    <div class="muzyka-comp-header">
      <h1 class="muzyka-comp-text">
        <span>
          Realizowane przeze mnie wydania podbijały klubowe parkiety,
          dostarczając słuchaczom wielu wrażeń.
        </span>
      </h1>
    </div>
    <div class="muzyka-comp-hero-image">
      <img
        alt="image"
        src="public/computer.svg"
        loading="eager"
        class="muzyka-comp-image"
      />
      <lottie-player
        src="https://assets9.lottiefiles.com/packages/lf20_nn8hue1i.json"
        loop
        speed="1"
        autoplay
        background="transparent"
        class="muzyka-comp-lottie-node"
      ></lottie-player>
    </div>
  </div>
</div>
