.nav-links-links {
  gap: var(--dl-space-space-twounits);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.nav-links-link {
  text-decoration: none;
}
.nav-links-link1 {
  text-decoration: none;
}
.nav-links-link2 {
  text-decoration: none;
}
@media(max-width: 767px) {
  .nav-links-links {
    display: none;
  }
}

.navbar-interactive-container {
  display: flex;
  position: relative;
}
.navbar-interactive-navbar-interactive {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  justify-content: flex-end;
}
.navbar-interactive-branding {
  width: 479px;
  display: flex;
  max-width: 640px;
  align-items: flex-start;
  border-color: #61616B;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: flex-start;
  border-bottom-width: 1px;
}
.navbar-interactive-navlink {
  color: rgb(39, 39, 45);
  font-size: 30px;
  font-family: Inter;
  text-decoration: none;
}
.navbar-interactive-desktop-menu {
  display: flex;
}
.navbar-interactive-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navbar-interactive-right {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-twounits);
}
.navbar-interactive-button {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.navbar-interactive-work-with-us {
  cursor: pointer;
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 70px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: rgb(229, 254, 88);
}
.navbar-interactive-work-with-us:hover {
  opacity: 0.5;
}
.navbar-interactive-text {
  display: flex;
  font-size: 24px;
}
.navbar-interactive-image {
  width: 100px;
  display: none;
  object-fit: cover;
}
.navbar-interactive-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.navbar-interactive-work-with-us1 {
  cursor: pointer;
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 70px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: rgb(229, 254, 88);
}
.navbar-interactive-work-with-us1:hover {
  opacity: 0.5;
}
.navbar-interactive-text1 {
  display: flex;
  font-size: 24px;
}
.navbar-interactive-image1 {
  width: 100px;
  display: none;
  object-fit: cover;
}
.navbar-interactive-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: fixed;
  transform: translateX(100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.navbar-interactive-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar-interactive-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.navbar-interactive-branding1 {
  flex: 1;
  display: flex;
  max-width: 640px;
  align-items: flex-start;
  border-color: #61616B;
  flex-direction: row;
  justify-content: flex-start;
  border-bottom-width: 1px;
}
.navbar-interactive-text2 {
  color: #27272D;
  font-size: 30px;
  font-family: Inter;
}
.navbar-interactive-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-interactive-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar-interactive-middle {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar-interactive-links {
  gap: var(--dl-space-space-twounits);
  display: flex;
  position: relative;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.navbar-interactive-work-with-us2 {
  cursor: pointer;
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 70px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: rgb(229, 254, 88);
}
.navbar-interactive-work-with-us2:hover {
  opacity: 0.5;
}
.navbar-interactive-text3 {
  display: flex;
  font-size: 24px;
}



.navbar-interactive-root-class-name3 {
  align-self: center;
}
@media(max-width: 991px) {
  .navbar-interactive-navbar-interactive {
    gap: var(--dl-space-space-fourunits);
    justify-content: center;
  }
  .navbar-interactive-text {
    line-height: 30px;
  }
  .navbar-interactive-text1 {
    line-height: 30px;
  }
  .navbar-interactive-text3 {
    line-height: 30px;
  }
  .navbar-interactive-root-class-name1 {
    align-self: center;
  }
}
@media(max-width: 767px) {
  .navbar-interactive-navbar-interactive {
    padding-top: var(--dl-space-space-twounits);
    justify-content: space-between;
  }
  .navbar-interactive-desktop-menu {
    display: none;
  }
  .navbar-interactive-work-with-us {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .navbar-interactive-text {
    display: none;
  }
  .navbar-interactive-image {
    width: 16px;
    height: 14px;
    display: flex;
  }
  .navbar-interactive-burger-menu {
    display: flex;
    align-self: flex-start;
  }
  .navbar-interactive-work-with-us1 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .navbar-interactive-text1 {
    display: none;
  }
  .navbar-interactive-image1 {
    width: 16px;
    height: 14px;
    display: flex;
  }
  .navbar-interactive-branding1 {
    max-width: 80%;
  }
  .navbar-interactive-work-with-us2 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .navbar-interactive-navlink {
    align-self: center;
  }
  .navbar-interactive-mobile-menu {
    padding: 16px;
  }
  .navbar-interactive-root-class-name1 {
    width: var(--dl-size-size-medium);
    align-self: flex-start;
  }
}
