<div>
  <link href="./sekcja-grafika.css" rel="stylesheet" />
  <div class="sekcja-grafika-section">
    <div class="sekcja-grafika-case-studies">
      <div class="sekcja-grafika-caption">
        <span class="sekcja-grafika-text">
          <span>REALIZACJE GRAFICZNE</span>
        </span>
        <div class="sekcja-grafika-date-range">
          <span class="sekcja-grafika-text1"><span>2018</span></span>
          <span class="sekcja-grafika-text2"><span>——</span></span>
          <span class="sekcja-grafika-text3"><span>2023</span></span>
        </div>
      </div>
      <div class="sekcja-grafika-gallery">
        <div class="sekcja-grafika-row">
          <div class="sekcja-grafika-case">
            <img
              alt="image"
              src="public/external/rth-1400w.jpeg"
              class="sekcja-grafika-image"
            />
            <div class="sekcja-grafika-heading">
              <span class="sekcja-grafika-text4">
                <span>RAVE THE HEL 2.0</span>
              </span>
              <span class="sekcja-grafika-text5">
                <span>
                  Wydarzenie odbywające się na plaży przyciągające fanów letnich
                  brzmień i morskiej bryzy.
                </span>
              </span>
            </div>
          </div>
          <div class="sekcja-grafika-case1">
            <img
              alt="image"
              src="public/external/weikum-1400w.jpeg"
              class="sekcja-grafika-image1"
            />
            <div class="sekcja-grafika-heading1">
              <span class="sekcja-grafika-text6">
                <span>BASSMENT X WEIKUM</span>
              </span>
              <span class="sekcja-grafika-text7">
                <span>Plakat dający klimat lata w mieście.</span>
              </span>
            </div>
          </div>
        </div>
        <div class="sekcja-grafika-row1">
          <div class="sekcja-grafika-case2"></div>
        </div>
      </div>
    </div>
  </div>
</div>
