<div>
  <link href="./sekcja-muzyka.css" rel="stylesheet" />
  <div class="sekcja-muzyka-section">
    <div class="sekcja-muzyka-case-studies">
      <div class="sekcja-muzyka-caption">
        <span class="sekcja-muzyka-text"><span>REALIZACJE MUZYCZNE</span></span>
        <div class="sekcja-muzyka-date-range">
          <span class="sekcja-muzyka-text1"><span>2018</span></span>
          <span class="sekcja-muzyka-text2"><span>——</span></span>
          <span class="sekcja-muzyka-text3"><span>2023</span></span>
        </div>
      </div>
      <div class="sekcja-muzyka-embryos-x-wency">
        <div class="sekcja-muzyka-row">
          <div class="sekcja-muzyka-case">
            <div class="sekcja-muzyka-heading">
              <span class="sekcja-muzyka-text4"><span>Embryos</span></span>
              <span class="sekcja-muzyka-text5">
                <span>
                  Enigmatyczne Techno wydane dla Szwedzkiego wydawnictwa AEDI,
                  numer wydany na składance - nagrany wspólnie z Wencym
                </span>
              </span>
            </div>
          </div>
        </div>
        <div class="sekcja-muzyka-container">
          <div class="sekcja-muzyka-row1">
            <div class="sekcja-muzyka-case1"></div>
          </div>
          <div class="sekcja-muzyka-container1">
            <iframe
              style="border: 0; width: 700px; height: 120px;"
              src="https://bandcamp.com/EmbeddedPlayer/album=197397477/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/artwork=small/track=1108470295/transparent=true/"
              seamless
            >
              &#x3C;a
              href='https://aedirecords.bandcamp.com/album/embryos-2'>Embryos by
              LDWQ, Wency&#x3C;/a>
            </iframe>
          </div>
          <div class="sekcja-muzyka-case2"></div>
        </div>
      </div>
      <div class="sekcja-muzyka-bassment">
        <div class="sekcja-muzyka-row2">
          <div class="sekcja-muzyka-case3">
            <div class="sekcja-muzyka-heading1">
              <span class="sekcja-muzyka-text6"><span>FineDay</span></span>
              <span class="sekcja-muzyka-text7">
                <span>
                  Nagranie stworzone dla kolektywu Bassment, będące odświeżeniem
                  nieśmiertelnego klasyka o tym samym tytule.
                </span>
              </span>
            </div>
          </div>
        </div>
        <div class="sekcja-muzyka-container2">
          <div class="sekcja-muzyka-row3">
            <div class="sekcja-muzyka-case4"></div>
          </div>
          <div class="sekcja-muzyka-code-embed">
            <iframe
              width="100%"
              height="300"
              scrolling="no"
              frameborder="no"
              allow="autoplay"
              src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1512572461&#x26;color=%233e3e3e&#x26;auto_play=false&#x26;hide_related=false&#x26;show_comments=true&#x26;show_user=true&#x26;show_reposts=false&#x26;show_teaser=true&#x26;visual=true"
            ></iframe>
            <div
              style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"
            >
              <a
                href="https://soundcloud.com/wearesoundspace"
                title="Soundspace"
                target="_blank"
                style="color: #cccccc; text-decoration: none;"
              >
                Soundspace
              </a>
              ·
              <a
                href="https://soundcloud.com/wearesoundspace/premiere-bassment-fine-day-my-techno-weighs-a-ton"
                title="Premiere: Bassment - Fine Day [My Techno Weighs A Ton]"
                target="_blank"
                style="color: #cccccc; text-decoration: none;"
              >
                Premiere: Bassment - Fine Day [My Techno Weighs A Ton]
              </a>
            </div>
          </div>
          <div class="sekcja-muzyka-case5"></div>
        </div>
      </div>
    </div>
  </div>
</div>
