<div>
  <link href="./slider.css" rel="stylesheet" />
  <div class="slider-container">
    <div class="slider-slide1">
      <img
        alt="image"
        src="https://images.unsplash.com/photo-1679678691006-3afa56204979?ixid=M3w5MTMyMXwxfDF8c2VhcmNofDF8fHdhdGVyfGVufDB8fHx8MTY4ODA3NzU5N3ww&ixlib=rb-4.0.3&w=1500"
        class="slider-image"
      />
      <div class="slider-container1">
        <svg viewBox="0 0 1024 1024" class="slider-icon">
          <path d="M658 708l-60 60-256-256 256-256 60 60-196 196z"></path>
        </svg>
      </div>
      <div class="slider-container2">
        <svg viewBox="0 0 1024 1024" class="slider-icon02">
          <path d="M366 708l196-196-196-196 60-60 256 256-256 256z"></path>
        </svg>
      </div>
    </div>
    <div class="slider-slide2">
      <img
        alt="image"
        src="https://images.unsplash.com/photo-1551024709-8f23befc6f87?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDl8fGRyaW5rfGVufDB8fHx8MTY4ODEyMDA4M3ww&ixlib=rb-4.0.3&w=1500"
        class="slider-image1"
      />
      <div class="slider-container3">
        <svg viewBox="0 0 1024 1024" class="slider-icon04">
          <path d="M658 708l-60 60-256-256 256-256 60 60-196 196z"></path>
        </svg>
      </div>
      <div class="slider-container4">
        <svg viewBox="0 0 1024 1024" class="slider-icon06">
          <path d="M366 708l196-196-196-196 60-60 256 256-256 256z"></path>
        </svg>
      </div>
    </div>
    <div class="slider-slide3">
      <img
        alt="image"
        src="https://images.unsplash.com/photo-1551183053-bf91a1d81141?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDEzfHxwYXN0YXxlbnwwfHx8fDE2ODgxMjAxNDB8MA&ixlib=rb-4.0.3&w=1500"
        class="slider-image2"
      />
      <div class="slider-container5">
        <svg viewBox="0 0 1024 1024" class="slider-icon08">
          <path d="M658 708l-60 60-256-256 256-256 60 60-196 196z"></path>
        </svg>
      </div>
      <div class="slider-container6">
        <svg viewBox="0 0 1024 1024" class="slider-icon10">
          <path d="M366 708l196-196-196-196 60-60 256 256-256 256z"></path>
        </svg>
      </div>
    </div>
  </div>
</div>
