<div>
  <link href="./stopa.css" rel="stylesheet" />
  <footer class="stopa-footer">
    <span class="stopa-branding"><span>Zapraszam do kontaktu!</span></span>
    <div class="stopa-content">
      <div class="stopa-contact">
        <span class="stopa-name">
          <span class="stopa-text">Jakub Ludwiczak</span>
          <br />
        </span>
        <span class="stopa-email"><span>kuba.ludwiczak@icloud.com</span></span>
        <span class="stopa-number"><span>+48 736 745 427</span></span>
      </div>
      <div class="stopa-links-column">
        <a href="skontaktuj-sie.html" class="stopa-link">
          <span>Kontakt</span>
        </a>
        <a href="grafika.html" class="stopa-link1"><span>Muzyka</span></a>
        <a href="grafika.html" class="stopa-link2"><span>Współpraca</span></a>
        <a href="grafika.html" class="stopa-link3"><span>Grafika</span></a>
      </div>
    </div>
  </footer>
</div>
