<div>
  <link href="./stopa-mini.css" rel="stylesheet" />
  <footer class="stopa-mini-footer">
    <span class="stopa-mini-branding"><span>Zapraszam do kontaktu!</span></span>
    <div class="stopa-mini-content">
      <div class="stopa-mini-contact">
        <span class="stopa-mini-name">
          <span class="stopa-mini-text">Jakub Ludwiczak</span>
          <br />
        </span>
        <span class="stopa-mini-email">
          <span>kuba.ludwiczak@icloud.com</span>
        </span>
        <span class="stopa-mini-number"><span>+48 736 745 427</span></span>
      </div>
    </div>
  </footer>
</div>
