<div>
  <link href="./tabela-tekstowa.css" rel="stylesheet" />
  <div class="tabela-tekstowa-container">
    <div class="tabela-tekstowa-container1">
      <input
        type="text"
        placeholder="twój e-mail"
        class="tabela-tekstowa-input input"
      />
    </div>
    <div class="tabela-tekstowa-container2">
      <input
        type="text"
        placeholder="treść wiadomości"
        class="tabela-tekstowa-wiadomo input"
      />
    </div>
    <div class="tabela-tekstowa-container3">
      <a href="skontaktuj-sie.html" class="tabela-tekstowa-work-with-us button">
        <span class="tabela-tekstowa-text"><span>wyślij wiadomość</span></span>
        <img
          alt="image"
          src="public/hamburger.svg"
          class="tabela-tekstowa-image"
        />
      </a>
    </div>
  </div>
</div>
